<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>basicawswebproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AcceptRestServiceData</display-name>
    <servlet-name>AcceptRestServiceData</servlet-name>
    <servlet-class>com.website.AcceptRestServiceData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptRestServiceData</servlet-name>
    <url-pattern>/AcceptRestServiceData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileToS3Servlet</display-name>
    <servlet-name>UploadFileToS3Servlet</servlet-name>
    <servlet-class>com.website.s3.UploadFileToS3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileToS3Servlet</servlet-name>
    <url-pattern>/UploadFileToS3Servlet</url-pattern>
  </servlet-mapping>
</web-app>